* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#navbar {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 20px 0px;
    background-color: white;
    color: black;

}
@media (max-width:768px){
    #apple {
        margin-right: 520px;
        
    }
}
.img {
    display: none;
}
@media (max-width:768px){
    .img {
        display: flex;
    }
}
@media (max-width:768px){
    #navbar li {
        display: none;
        width: 100px;
    }
}
#navbar img {
    width: 18px;
}
#navbar li {
    list-style: none;
}

#section1 {
    height: 620px;
    background-color: yellow;
    background-image: url(./Assets/iphone.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding-top: 50px;

}

@media (max-width: 768px) {
    #section1 {
        height: 100vh;
        background-size: cover;
        align-items: center;
        background-position: center;
        background-image: url(./images-phone/small\ hero.jpg);
        padding-top: 20px;
        gap: 10px;
        text-align: center;
        justify-items: center;
    }

}

button {
    color: white;
    font-size: 17px;
    font-weight: 400;
    padding: 11px 21px;
    border-style: solid;
    border-width: 1px;
    border-radius: 980px;

}



.btn1 {
    background-color: #0071e3;

}

.btn2 {
    border-color: #0071e3;
    background-color: transparent;
    color: #0071e3;
}

.btn2:hover {
    border-color: transparent;
    background-color: #0071e3;
    color: white;
}

h1 {
    font-size: 48px;
    font-weight: 600;
}

h3 {
    font-size: 24px;
    font-weight: 400;
    display: inline;
}

.btngroup {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

@media (max-width:768) {
    .btngroup {

        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 10px;
        font-weight: 300;
        padding: 9px 19px;
        border-style: solid;
        border-width: 1px;
        border-radius: 980px;
        text-align: center;
        justify-items: center;
    }
}

/* section2 */

#section2 {
    margin-top: 15px;
    height: 680px;
    padding-top: 20px;
    background-color: yellow;
    background-image: url(./Assets/airpods.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding-top: 50px;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    #section2 {
        height: 100vh;
        background-size: cover;
        align-items: center;
        background-position: center;
        background-image: url(./images-phone/hero_apple_watch_ny__c8f1tzaoa72a_small_2x.jpg);
        padding-top: 20px;
        gap: 10px;
    }
}



/* #section3{
    width: 100%;
    height: 580px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 10px;
}
@media (max-width: 768px)
 {#section3 {
        height: 100vh; 
        display: flex;
        flex-wrap: wrap;
        background-size: cover;        
        align-items: center;
        background-position: center;
        padding-top: 20px;
        gap: 10px;
    }}
#leftsection3 {
    background-color: gray;
    flex: 1;
    padding-top: 20px;
    flex-wrap: wrap;
    display: flex;
    background-image: url(./images-phone/hero_ipad_air_avail__c34ycq52exg2_small_2x.jpg);
    background-repeat:no-repeat ;
    
    background-position: center;
    text-align: center;
}

#rightsection3 {
    background-color: green;
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 20px;
    justify-content: start;
    background-image: url();
    background-position: center;
    background-repeat:no-repeat ;

} */
#section3 {
    width: 100%;
    height: 580px;
    display: flex;

    flex-wrap: nowrap;
    align-content: strat;
    gap: 10px;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    #section3 {
        flex-wrap: wrap;
        height: auto;

    }

}


/* #leftsection3 {
    flex: 1;
    background-color: gray;
    display: flex;
    
    align-items: start;
    background-image: url(./images-phone/hero_ipad_air_avail__c34ycq52exg2_small_2x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
} */
#leftsection3 {
    background-color: gray;
    flex: 1;
    padding-top: 20px;
    background-image: url(./images-phone/hero_ipad_air_avail__c34ycq52exg2_small_2x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;

}

@media (max-width:768px) {
    #leftsection3 {
        flex: 0 0 100%;
        height: 680px;
    }
}

#rightsection3 {
    flex: 1;
    background-color: green;
    display: flex;
    color: white;
    background-position: center;
    flex-direction: column;
    background-image: url(./images-phone/promo_macbook_pro_m5__gnwzdhijhm6a_small_2x.jpg);
    justify-content: flex-start;
    align-items: center;
}

@media (max-width:768px) {
    #rightsection3 {
        flex: 0 0 100%;
        height: 680px;
    }
}


img {
    margin-top: auto;
    background-color: rgb(173, 220, 238);
}



#section4 {
    width: 100%;
    height: 580px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    #section4 {
        flex-wrap: wrap;
        height: auto;

    }

}

#leftsection4 {
    background-color: gray;
    flex: 1;
    padding-top: 20px;
    background-image: url(./Assets/pink-ipad.png);
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;

}

@media (max-width:768px) {
    #leftsection4 {
        height: 680px;
        flex: 0 0 100%;
        background-size: cover;
        background-image: url(./images-phone/promo_apple_watch_ultra3__bwvslhbxx99e_small_2x.jpg);
    }
}

#rightsection4 {
    background-color: green;
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 20px;
    justify-content: start;
    background-image: url(./images-phone/promo_airpodspro_3__f6xmza7bglei_small_2x.jpg);
    background-position: center;
    background-repeat: no-repeat;

}

@media (max-width:768px) {
    #rightsection4 {
        height: 680px;
        flex: 0 0 100%;
        background-size: cover;
        background-image: url(./images-phone/promo_airpodspro_3__f6xmza7bglei_small_2x.jpg);
    }
}

#section5 {
    width: 100%;
    height: 580px;
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    #section5 {
        flex-wrap: wrap;
        height: auto;

    }
}

#leftsection5 {
    background-color: gray;
    flex: 1;
    padding-top: 20px;
    background-image: url(./images-phone/promo_iphone_tradein__bugw15ka691e_small_2x.jpg);
    background-repeat: no-repeat;

    background-position: center;
    text-align: center;

}

@media (max-width:768px) {
    #leftsection5 {
        height: 680px;
        flex: 0 0 100%;
        background-size: cover;
        background-image: url(./images-phone/promo_iphone_tradein__bugw15ka691e_small_2x.jpg);
    }
}

#rightsection5 {
    background-color: green;
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 20px;
    justify-content: start;
    background-image: url(./Assets/bank-card.png);
    background-position: center;
    background-repeat: no-repeat;
}

@media (max-width:768px) {
    #rightsection5 {
        height: 680px;
        background-size: cover;
        flex: 0 0 100%;
        background-image: url(./images-phone/promo_apple_card__5cm7draujpey_small_2x.jpg);
    }
}

#footer {
    background-color: #333;
    width: 100%;
    height: 450px;
    color: #b1b1b3;
    border-bottom: 1px solid white;
}

#footer1 {
    padding-top: 10px;
    padding-left: 100px;
}

#footer1 li {
    padding-top: 10px;
    padding-left: 10px;
    list-style: none;
    font-size: 14px;

}

#footer2 {
    background-color: #333;
    width: 100%;
    height: 300px;
}
@media(max-width:767px){
   #footer {
    display: flex;
    justify-content: start;
    background-color: #333;
    width: 100%;
    /* height: 250px; */
    color: #b1b1b3;
    border-bottom: 1px solid white;
}

#footer1 {
    /* padding-top: 7px; */
}

#footer1 li {
    /* padding-top: 5px; */
    list-style: none;
    font-size: 10px;

}

#footer2 {
    background-color: #333;
    width: 100%;
    /* height: 150px; */
} 
}

